{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="{% static 'img/favicon.ico' %}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'css/nav.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'css/base.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'css/header.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'css/content.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'css/footer.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'css/chart.scss' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>
  <script src="https://chartjs-plugin-datalabels.netlify.com/chartjs-plugin-datalabels.js"></script>
  <script src="{% static 'js/common.js' %}"></script>
  <script src="{% static 'js/chart.js' %}"></script>
  <title>
    test
  </title>
</head>

<body>
  <header id='header'>
    {% include './header.html' %}
  </header>
  <nav id='nav'>
    {% include './nav.html' %}
  </nav>
  <main id='content'>
    {% block content %}{% endblock %}
  </main>
  <footer id='footer'>
    <!-- {% include './footer.html' %} -->
  </footer>
</body>

</html>