<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>

{% extends 'base.html' %} {% block content %}
<div id="loading_div">
  <div id="loading">
    <img id="loding_img" src="../static/img/loading_big.gif" />
  </div>
  <div style="
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 100;
            opacity: 0.5;
            background-color: rgb(0, 0, 0);
        "></div>
</div>

<div id="chart_content" class="step-panel" hidden="true">
  <h2 class="title">4. {{select_val}} original vs. mitigated results</h2>
  <div class="subtitle">
    <div class="subtitle_div">
      <div class="subtitle_title">Dataset:</div>
      <div class="subtitle_val">{{select_val}}</div>
    </div>
    <br />
    <div class="subtitle_div">
      <div class="subtitle_title">Mitigation:</div>
      <div class="subtitle_val">{{select_val2}}</div>
    </div>
    <h3 class="chart_title">Data distribution</h3>
  </div>
  <div id="scatter_chart">
    <hr class="line_hr" style="height: 0.5px;" />
    <div id="scatter_container1" class="scatter_div"></div>
    <div id="scatter_container2" class="scatter_div"></div>
  </div>

  <h3 class="select_chart_title">Select Chart</h3>
  <hr class="line_hr" style="height: 0.5px;" />

  <div class="select_chart_content">
    <div class="select_chart">
      <label class="chart_select_radio_label" style="font-weight: bold;">
        <input type="radio" name="chart_sel_radio" id="bar_chart" value="bar" checked hidden>
        <img class="example_img" src="../static/img/barChart.png" />
        Bar chart
      </label>
      <label class="chart_select_radio_label" style="opacity: 0.3;">
        <input type="radio" name="chart_sel_radio" id="bar3d_chart" value="bar3d" hidden>
        <img class="example_img" src="../static/img/3dBarChart.png" />
        3D bar chart
      </label>
      <label class="chart_select_radio_label" style="opacity: 0.3;">
        <input type="radio" name="chart_sel_radio" id="spiderweb_chart" value="spiderweb" hidden>
        <img class="example_img" src="../static/img/spiderwebChart.png" />
        Spiderweb chart
      </label>
    </div>
  </div>

  <div class="subtitle">
    <h3 class="chart_title">Protected Attribute: <span class="protect-attribute-key group-one"></span></h3>
  </div>
  <div>
    <hr class="line_hr" />
    <div class="explain_div">
      <div class="subtitle_div">
        <div class="subtitle_title">Privileged Group:</div>
        <div class="subtitle_val"><span class="protect-attribute-val group-one"></span></div>
        <div class="subtitle_title">, Unprivileged Group:</div>
        <div class="subtitle_val">Other</div>
      </div>
      <br />
      <div class="subtitle_div">
        <div class="subtitle_title value_one_accuracy_text">
        </div>
      </div>
    </div>
    <br />
    <div class="graph_container">
      <div id="scatter_container3" class="scatter_div">
        <div id="bar_chart_3"></div>
        <div id="bar_chart_3d_3" style="display: none;"></div>
        <div id="spiderweb_chart_3" style="display: none;"></div>
      </div>
      <div class="scatter_text">
        <p>
          <b>Statistical Parity Difference:</b> The closer the value is to 0, the fair.</br>
          <b>Equal Opportunity Difference:</b> The closer the value is to 0, the fair.</br>
          <b>Average Odds Difference:</b> The closer the value is to 0, the fair.</br>
          <b>Disparate Impact:</b> The closer the value is to 1, the fair.</br>
          <b>Theil Index:</b> The closer the value is to 0, the fair.</br>
        </p>
      </div>
    </div>
    <div class="subtitle">
      <h3 class="chart_title">Protected Attribute: <span class="protect-attribute-key group-two"></span></h3>
    </div>
    <hr class="line_hr" />
    <div class="explain_div">
      <div class="subtitle_div">
        <div class="subtitle_title">Privileged Group:</div>
        <div class="subtitle_val"><span class="protect-attribute-val group-two"></span></div>
        <div class="subtitle_title">, Unprivileged Group:</div>
        <div class="subtitle_val">Other</div>
      </div>
      <br />
      <div class="subtitle_div">
        <div class="subtitle_title value_two_accuracy_text">
        </div>
      </div>
    </div>
    <br />
    <div class="graph_container">
      <div id="scatter_container4" class="scatter_div">
        <div id="bar_chart_4"></div>
        <div id="bar_chart_3d_4" style="display: none;"></div>
        <div id="spiderweb_chart_4" style="display: none;"></div>
      </div>
      <div class="scatter_text">
        <p>
          <b>Statistical Parity Difference:</b> The closer the value is to 0, the fair.</br>
          <b>Equal Opportunity Difference:</b> The closer the value is to 0, the fair.</br>
          <b>Average Odds Difference:</b> The closer the value is to 0, the fair.</br>
          <b>Disparate Impact:</b> The closer the value is to 1, the fair.</br>
          <b>Theil Index:</b> The closer the value is to 0, the fair.</br>
        </p>
      </div>
    </div>
  </div>
  <div class="subtitle">
    <h3 class="chart_title">Mitigate rate</h3>
  </div>
  <div id="radar_div">
    <hr class="line_hr" />
    <!-- <div id="chartdiv1" class="radar_chart"></div>
    <div id="chartdiv2" class="radar_chart"></div> -->

    <div id="ploar_chart1" class="ploar_chart"></div>
    <div id="ploar_chart2" class="ploar_chart"></div>
  </div>

  <form id="form_tag" method="post" action="/mitigate">
    <input type="hidden" name="select_val" value="{{select_val}}" />
    <input type="hidden" name="select_val2" value="{{select_val2}}" />
    <input type="hidden" id="before_chart_data_sex" name="before_chart_data_sex" value="{{before_chart_data_sex}}" />
    <input type="hidden" id="before_chart_data_race" name="before_chart_data_race" value="{{before_chart_data_race}}" />
  </form>
</div>
{% endblock %}